@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,wght@0,700;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
}

.Header {
     background-color: #3EBFFF;
      padding-bottom: 40px;
     color: white;
    padding: 20px 40px;
}
.sunnyside {
    padding: 20px;
    color: rgb(255, 255, 255);
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.coso {
    display: flex;
    justify-content: flex-end;
    gap: 10px
    
}

.contact {
    justify-content: flex-end;
    border: 2px solid;
    background-color: white;
    border-radius: 5px;
    color: black;
}

.header_img {
   background-image: url(/Practicos/Escrito_Fronted/sunnyside-agency-landing-page-main/images/desktop/image-header.jpg);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat; /*Si el background-size es menor a 100% repite el background hasta rellenar el contenedor.*/
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}
.text_header_img {
    
    position: absolute;
    top: 170px;
    left: auto;
    margin: 0 auto;
    color: white;
    font-family: 'Fraunces', serif;
    font-weight: 900;   
    font-size: 24px;
    letter-spacing: 10px;
}

.arrow_down {
    position: absolute;
    top: 320px;
    left: auto;
    margin: 0 auto;
    width: 48px;
     
}


.SectionTransformBackground {

     background-color: white;
     display: flex;
         justify-content: left;

    align-items: left;
     width: 100%; 

  

 
    
    }



.SectionTransform {
    color: hsl(212, 27%, 19%);
    justify-content: left;
    align-items: left;
    display: flex;
    gap:50px;
    padding: 24px;
    height: 200px;
    width: 50%; 
   
}

.TransformEggImage {

     width: 50%;
    
    
    
   
}

.TransformEggImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.SectionStandOut {
     color: hsl(212, 27%, 19%);
    
    justify-content: right;
    align-items: right;
    display: flex;
    gap:50px;
    padding: 24px;
    height: 200px;
    width: 50%; 
     
    
}

.StandOutEggImage {
     width: 50%;
    
}

.StandOutEggImage img {
    width: 100%;
     
    height: 100%;
    object-fit: cover;

    
}

.SectionStandOutBackground {

    background-color: white;
     display: flex;
         justify-content: left;

    align-items: left;
     width: 100%; 
    
        
}
.cont {
    border-color: black;
    border-width: 2px;
    border-style: solid;
   justify-content: center;
   width: 100%;
   height: 400px;
   display: flex;
   gap: 40px;
}
img.emily {
    border-radius: 50%;
    height: 100px;
    object-fit: cover;
    }
img.thomas {
    border-radius: 50%;
    height: 100px;
    object-fit: cover;
    }
img.jennie {
    border-radius: 50%;
    height: 100px;
    object-fit: cover;
    }