@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:ital,wght@0,700;0,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
}

.Header {
    display: flex;
    background-color: #3EBFFF;
    color: white;
    padding: 14px 28px;
    justify-content: space-between;
}

.sunnyside {
    padding: 1px;
    color: rgb(255, 255, 255);
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.coso {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.coso2 {
    display: flex;
    justify-content: space-between;
    gap: 50px;
}

a {
    text-decoration: none;
    color: white;
}

.contact {
    display: flex;
    background-color: white;
    border-radius: 30px;
    color: black;
    font-family: 'Fraunces', serif;
    padding: 14px 28px;
}

/* Iván Sandoval */

.header_img {
    background-image: url(/Practicos/Escrito_Fronted/sunnyside-agency-landing-page-main/images/desktop/image-header.jpg);
    background-position: bottom;
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}

.text_header_img {
    position: absolute;
    top: 170px;
    margin: 0 auto;
    color: white;
    font-family: 'Fraunces', serif;
    font-weight: 900;
    font-size: 24px;
    letter-spacing: 10px;
}

.arrow_down {
    position: absolute;
    top: 320px;
    margin: 0 auto;
    width: 48px;
}

/* Fin de Iván Sandoval */

/* Augusto Fernandez */

.SectionTransformBackground {
    background-color: white;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.SectionTransform {
    gap: 24px;
    padding: 60px 80px;
    width: 50%;
    color: hsl(212, 27%, 19%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.SectionTransformSmall p {
    color: hsl(232, 10%, 55%);
    font-size: 16px;
    line-height: 1.7;
}

.LearnMore1 {
    color: black;
    font-weight: bold;
    font-family: 'Fraunces', serif;
    font-size: 14px;
    letter-spacing: 2px;
    border-bottom: 2px solid pink;
    cursor: pointer;
}

.TransformEggImage {
    width: 50%;
    height: 100%;
}

.TransformEggImage img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.SectionStandOutBackground {
    width: 100%;
    height: 500px;
    background-color: white;
    display: flex;
}

.StandOutImage {
    width: 50%;
    height: 100%;
}

.StandOutImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.SectionStandOut {
    gap: 24px;
    padding: 60px 80px;
    width: 50%;
    color: hsl(212, 27%, 19%);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.LearnMore2 {
    color: black;
    font-weight: bold;
    font-family: 'Fraunces', serif;
    font-size: 14px;
    letter-spacing: 2px;
    border-bottom: 2px solid pink;
    cursor: pointer;
}

.Section1 {
    display: flex;
    width: 100%;
    height: 550px;
}

.SectionGraphicDesignBackground {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.GraphicDesignImage img {
    object-fit: cover;
    display: block;
    width: 100%;
    height: 100%;
}

.SectionGraphicDesign {
    position: absolute;
    text-align: center;
    padding: 0 40px;
    color: hsl(167, 40%, 24%);
    bottom: 60px;
    left: 0;
    right: 0;
}

.SectionPhotographyBackground {
    position: relative;
    width: 50%;
    height: 100%;
    overflow: hidden;
}

.PhotographyImage img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.SectionPhotography {
    position: absolute;
    bottom: 60px;
    left: 0;
    right: 0;
    text-align: center;
    padding: 0 40px;
    color: hsl(212, 27%, 19%);
}

/* Fin de Augusto Fernandez */

/* Iván Sandoval */

.cont {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 900px;
    gap: 80px;
    text-align: center;
}

.little_cont {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 600px;
    gap: 10px;
}

.cont h1 {
    display: flex;
    position: absolute;
    text-align: center;
    top: 2420px;
    left: 480px;
    font-family: 'Fraunces', sans-serif;
    font-weight: 900;
    color: rgb(171, 170, 170);
    letter-spacing: 5px;
    font-size: 18px;
}

.Emily_R {
    width: 25%;
    height: 50%;
}

.Emily_R p {
    margin-top: 40px;
    color: gray;
}

.Emily_R .name {
    margin-top: 40px;
    color: black;
    font-weight: bold;
    font-family: 'Fraunces', serif;
}

.Emily_R .ocup {
    margin-top: 0px;
    font-weight: bold;
}

.Thomas_S p {
    margin-top: 40px;
    color: gray;
}

.Thomas_S .name {
    margin-top: 20px;
    color: black;
    font-weight: bold;
    font-family: 'Fraunces', serif;
}

.Thomas_S .ocup {
    margin-top: 0px;
    font-weight: bold;
}

.Jennie_F p {
    margin-top: 40px;
    color: gray;
}

.Jennie_F .name {
    margin-top: 40px;
    color: black;
    font-weight: bold;
    font-family: 'Fraunces', serif;
}

.Jennie_F .ocup {
    margin-top: 0px;
    color: gray;
    font-weight: bold;
}

.Thomas_S {
    width: 25%;
    height: 50%;
}

.Jennie_F {
    width: 25%;
    height: 50%;
}

img.emily {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-bottom: 20px;
}

img.thomas {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-bottom: 20px;
}

img.jennie {
    border-radius: 50%;
    height: 70px;
    width: 70px;
    margin-bottom: 20px;
}

/* Fin de Iván Sandoval */

/* Nicolas Negretto */

.img-footer {
    display: flex;
    width: 100%;
    height: 100%;
}

.milkbottles {
    height: 400px;
    width: 25%;
}

.orange {
    height: 400px;
    width: 25%;
}

.conito {
    height: 400px;
    width: 25%;
}

.cubos {
    height: 400px;
    width: 25%;
}

.footer {
    background-color: hsl(167, 53%, 62%);
    padding-top: 40px;
    padding-bottom: 40px;
}

.sunnyside2 {
    display: flex;
    justify-content: center;
    padding: 1px;
    color: hsl(167, 40%, 24%);
    font-family: 'Barlow', sans-serif;
    font-size: 30px;
    font-weight: bold;
}

.coso3 {
    display: flex;
    justify-content: center;
}

.coso4 {
    display: flex;
    align-items: center;
    gap: 70px;
    margin-top: 50px;
}

a2 {
    text-decoration: none;
    color: hsl(167, 40%, 24%);
}

.icon {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-top: 100px;
}

/* Fin de Nicolas Negretto */
