html{
    font-size: 1rem;
   
    
}
#video-bg {
    position: fixed;      /* Se queda fijo aunque hagas scroll */
    top: 0;
    left: 0;
    width: 100%;          /* Ocupa todo el ancho */
    height: 100%;         /* Ocupa todo el alto */
    object-fit: cover;    /* Recorta para cubrir toda la pantalla sin deformarse */
    z-index: -1;          /* Lo pone DETRÁS de todo el contenido */
}

.title{
    
    text-align: center;
    color: #D2FF28;
}
body{
    background-color:black;
    margin: 0;
    padding: 0;
   
}
span{
    color: white;
}
.img{
    width: fit-content;
    margin-left: auto;
}
.border-subtitle{
width: fit-content;
color: #F2F2F2;
}
.border-text{
width: fit-content;
color: #F2F2F2;
}
.container{
    
 width: 92%;
 margin: 0 auto;
    
}
.border-subtitle-reverse{
    width: fit-content;
    color: white;
    margin-left: auto;
}
.border-text-reverse{
    width: fit-content;
    color: white;
    margin-left: auto;
}
.img-reverse{
    text-align: right;
    width: fit-content;
    margin-right: auto;
}
.section{
background-color: #2A2A2A;
border-radius: 10px;
font-size: 1rem;
margin: 1%;

}
