html{
    font-size: 1rem;
   
    
}

.title{
    
    text-align: center;
    color: #D2FF28;
}
body{
    background-color:black;
    margin: 0;
    padding: 0;
   
}
span{
    color: white;
}
.img{
    width: fit-content;
    margin-left: auto;
}
.border-subtitle{
width: fit-content;
color: #F2F2F2;
}
.border-text{
width: fit-content;
color: #F2F2F2;
}
.container{
    
 width: 92%;
 margin: 0 auto;
    
}
.border-subtitle-reverse{
    width: fit-content;
    color: white;
    margin-left: auto;
}
.border-text-reverse{
    width: fit-content;
    color: white;
    margin-left: auto;
}
.img-reverse{
    width: fit-content;
    margin-right: auto;
}
.section{
background-color: #2A2A2A;
border-radius: 10px;
font-size: 1rem;
margin: 1%;

}
.footer{
    background-color: #2A2A2A;
    font-size: 1rem;
    margin: 1%;
    text-align: center;
    color: white;
}
