.container {
    margin: auto;
    width: fit-content;
    display: flex;
    padding: 10px;
    background-color: #c2b9b9;
}
.container2{
    display: flex;
    gap: 60px;

}
.box1{
    width: 200px;
    height: 200px;
    background-color: #ff2828;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    
}
.box2{
    width: 200px;
    height: 200px;
    background-color: #1db508;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    
}
.box3{
    width: 200px;
    height: 200px;
    border-style: solid;
    background-color: #3628ff;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    
}

.container3{
    width: fit-content;
    margin: auto;
    padding: 10px;
    background-color: #c2b9b9;
    display: flex; /*controla la posicion de los divs dentro de el div*/
    flex-direction: column; /*organiza los divs dentro del div para que este en columa*/
    gap: 20px; /*espacio entre los divs del div*/
}

.card{
    border-left: 5px solid #0667e4;
    background-color: white;
    padding: 10px; /*agrega espacio interno*/
    gap: 60px;
}
.card2{
    border-left: 5px solid #0667e4;
    background-color: white;
    padding: 10px; /*agrega espacio interno*/
    gap: 60px;
}
.card3{
    border-left: 5px solid #0667e4;
    background-color: white;
    padding: 10px; /*agrega espacio interno*/
}

.new{
    background-color:#0667e4;
    color: white;
    font-size: 11px;
    font-weight: 500;
    padding: 3px 10px;
}
.container4{
background-color: rgb(9, 9, 66);
display: flex;

gap: 40px;
padding: 60px;  
margin: 10%;

}
.block{
background-color: rgb(3, 3, 134); 
padding: 24px; 
width: 100px;
display: flex;
flex-direction: column; /* apila los spans en vertical, siempre va en el padre */
align-items: center; /* centra horizontalmente */
width: 5000px;
border-top: 3px solid rgba(128, 128, 128, 0.658)
}
.block:hover{
background-color: rgb(250, 106, 106); 
padding: 24px; 
width: 100px;
display: flex;
flex-direction: column; /* apila los spans en vertical, siempre va en el padre */
align-items: center; /* centra horizontalmente */
width: 5000px;
}
span{
    color: white;
    font-size: 24px;
    
}
.text{
    color: white;
    text-align: center;
    font-size: 9px;
    
}
